<div class="container">
  <form #todoForm= "ngForm"(submit)="onSubmit(todo.value)">
    <div class="form-group">
      <h1 class="text-center ">Todo App</h1>
      <div class="input-group-prepend">
        <input type="text" #todo  class="form-control" placeholder="Add Todo" name="todo" [ngModel]>
        <span class="input-group-text mr-1" (click)="onSubmit(todo.value)">Add</span>
      </div>
    </div>

    <div class="data">
      <ul class="list-unstyled">
        <li [@moveInLeft]  *ngFor="let todo of todos | async">  
          <div class="form-group row mr-1 edit-container-{{todo._id}}">
            <div class="col-sm-9" (mouseover)="changeDeleteText=true" (dblclick)="enableEdit(todo._id,todo.text)">
              <div *ngIf="!todo.complete">
                <span class="ml-2"><input type="checkbox" (click)="markComplete(todo)" type="checkbox" class="form-check-input"/> {{todo.text}} </span>
            </div>
            <div *ngIf="todo.complete">
              {{todo.text}}<br/>
              <span class="text-success">Left</span>
          </div>
            </div>
            <i (click)="deleteTodo(todo._id)" *ngIf="changeDeleteText" class="fa fa-remove text-danger"> Delete</i>
          </div>
        </li>
      </ul>
      {{ (count >= 2 || count == 0) ? count + ' items left' : count + ' item left' }} &nbsp; Active&nbsp;&nbsp;{{ countCompleted}}
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" (click)="findByStatus('')" class="btn btn-light">All</button>
        <button type="button" (click)="findByStatus(true)" class="btn btn-light ml-1">Left</button>
        <button type="button" (click)="findByStatus(false)" class="btn btn-light ml-1">Active</button>
      </div>
    </div>
  </form>
</div>
