<div class="container">
  <form #todoForm= "ngForm"(submit)="onSubmit(todo.value)">
    <div class="form-group">
      <h1 class="text-center ">Todo App</h1>
      <div class="input-group-prepend">
        <input type="text" #todo  class="form-control" placeholder="Add Todo" name="todo" [ngModel]>
        <span class="input-group-text" (click)="onSubmit(todo.value)">
				<i class="material-icons">add</i></span>
      </div>
    </div>

    <div class="data">
      <ul class="list-unstyled">
        <li [@moveInLeft]  *ngFor="let todo of todos | async">{{todo.text}}
          <i (click)="deleteTodo(todo._id)" class="material-icons">delete</i><input type="checkbox"/></li>
      </ul>
      {{ count }}
    </div>
  </form>
</div>
